@tailwind components;
@tailwind utilities;

.markdown-rendered p {
	--p-spacing: 1.5rem; /* to match default theme preview/source. REMOVE BEFORE PUBLISHING */
}

.omnireader-highlight {
	background-color: var(--text-highlight-bg);
	border-bottom: 2px solid var(--text-highlight-border);
	color: var(--text-normal);
	cursor: pointer;
	&:hover {
		filter: saturate(2);
	}
}
